In [80]:
import pandas as pd

In [81]:
dad = pd.read_csv('My Shares Values (3).csv')
ghan = pd.read_csv('My Shares Values.csv')
mom = pd.read_csv('My Shares Values (1).csv')
son = pd.read_csv('My Shares Values (2).csv')

In [82]:
son

,S.N,Scrip,Current Balance,Previous Closing Price,Value as of Previous Closing Price,Last Transaction Price (LTP),Value as of LTP
0,1,GCIL,10.0,412.0,4120.0,412.0,4120.0
1,2,ILI,10.0,487.0,4870.0,487.0,4870.0
2,3,SONA,10.0,287.9,2879.0,287.9,2879.0
3,Total :,,,,11869.0,,11869.0

In [83]:
df = pd.concat([pd.concat([ghan, dad]), pd.concat([mom, son])])

In [84]:
df.columns

Index(['S.N', 'Scrip', 'Current Balance', 'Previous Closing Price',
       'Value as of Previous Closing Price', 'Last Transaction Price (LTP)',
       'Value as of LTP'],
      dtype='object')

In [85]:
drop_list ={'S.N', 'Current Balance', 'Previous Closing Price',
            'Value as of Previous Closing Price', 
             'Pledge Balance', 'Lockin Balance', 'Freeze Balance',
            'Free Balance', 'Demat Pending', 'Remarks'}

In [86]:
df

,S.N,Scrip,Current Balance,Previous Closing Price,Value as of Previous Closing Price,Last Transaction Price (LTP),Value as of LTP
0,1,ADBL,22.0,245.0,5390.0,245.0,5390.0
1,2,BEDC,10.0,207.9,2079.0,207.9,2079.0
2,3,CLI,10.0,430.0,4300.0,430.0,4300.0
3,4,DOLTI,10.0,207.0,2070.0,207.0,2070.0
4,5,GCIL,10.0,412.0,4120.0,412.0,4120.0
5,6,ILI,10.0,487.0,4870.0,487.0,4870.0
6,7,KBL,127.0,153.9,19545.3,153.9,19545.3
7,8,MBJC,10.0,267.0,2670.0,267.0,2670.0
8,9,MEL,10.0,159.9,1599.0,159.9,1599.0
9,10,MHCL,10.0,210.0,2100.0,210.0,2100.0
10,11,MKHL,10.0,245.8,2458.0,245.8,2458.0
11,12,MMKJL,10.0,258.5,2585.0,258.5,2585.0
12,13,NABIL,17.0,515.0,8755.0,515.0,8755.0
13,14,NICSF,100.0,7.95,795.0,7.95,795.0
14,15,NRM,10.0,228.5,2285.0,228.5,2285.0
15,16,SONA,10.0,287.9,2879.0,287.9,2879.0
16,Total :,,,,68500.3,,68500.3
0,1,CLI,10.0,430.0,4300.0,430.0,4300.0
1,2,ILI,10.0,487.0,4870.0,487.0,4870.0
2,3,RNLI,10.0,440.0,4400.0,440.0,4400.0
3,4,SMJC,10.0,260.0,2600.0,260.0,2600.0
4,5,SNLI,10.0,455.1,4551.0,455.1,4551.0
5,6,TSHL,10.0,381.1,3811.0,381.1,3811.0
6,Total :,,,,24532.0,,24532.0
0,1,BNHC,10.0,348.5,3485.0,348.5,3485.0
1,2,CLI,10.0,430.0,4300.0,430.0,4300.0
2,3,MKHL,10.0,245.8,2458.0,245.8,2458.0
3,4,PPL,10.0,208.0,2080.0,208.0,2080.0
4,5,SNLI,10.0,455.1,4551.0,455.1,4551.0
5,6,SONA,10.0,287.9,2879.0,287.9,2879.0
6,7,TSHL,10.0,381.1,3811.0,381.1,3811.0
7,8,USHEC,10.0,232.0,2320.0,232.0,2320.0
8,Total :,,,,25884.0,,25884.0
0,1,GCIL,10.0,412.0,4120.0,412.0,4120.0
1,2,ILI,10.0,487.0,4870.0,487.0,4870.0
2,3,SONA,10.0,287.9,2879.0,287.9,2879.0
3,Total :,,,,11869.0,,11869.0

In [87]:
drop_list = df['S.N'] =='Total :'

In [90]:

df = df[df['S.N'] != 'Total :']

In [91]:
df['Value as of LTP'].sum()

130785.3

In [99]:
df = df.groupby(df['Scrip'])