# 1: Define the Problem
Titanic data set. trying to predict survival rate by the data available which have information about sex, age, ticket price, passanger class, etc.

# 2: Import all the required library

In [29]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# 3:Data Collection and importing
i downloaded the dataset form kaggle

In [30]:
# loading the dataset by the function df_load
def df_load(path):
    return pd.read_csv(path)

In [31]:
#loading the trainning dataset
trn_df = df_load('train.csv')
trn_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [32]:
#loading the test dataset
tst_df = df_load('test.csv')
tst_df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

# 4: Data Visualization 
Ensure that your data is accurate, reliable, and relevant to the problem at hand. Inaccurate or biased data can lead to flawed models.

In [34]:
trn_df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [35]:
trn_df.dtypes
#the dataset have 5 int64 and 1 float 64 also dataset have objects.

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [36]:
trn_df.shape
#dataset have 891 rows and 12 columns

(891, 12)

In [38]:
# the 12 columns are PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked
trn_df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [40]:
trn_df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

### Exploratory Data Analysis (EDA):

Use visualizations to explore the dataset during the initial stages of model preparation. Scatter plots, histograms, box plots, and pair plots can reveal relationships between variables, distributions, and potential outliers.

# 5: Data Preprocessing
Clean and preprocess the data. This may involve handling missing values, normalizing or scaling features, encoding categorical variables, and addressing outliers. Data preprocessing is crucial for creating a clean and suitable dataset for training.

# 6: Features Selection and engineering
Identify and create relevant features (input variables) that can help your model learn patterns and relationships in the data.

# 7: Data Splitting
Split your dataset into training, validation, and test sets. Training data is used to train the model, the validation set helps tune hyperparameters, and the test set evaluates the model's performance on unseen data.

# 8: Model Selection
Choose an appropriate machine learning algorithm based on the nature of your problem. Common algorithms include linear regression, decision trees, support vector machines, neural networks, and more. Consider the strengths and weaknesses of each algorithm in relation to your specific task.

# 9: Model Training
Train the selected model on the training dataset. Adjust hyperparameters to find the optimal configuration. Monitor the model's performance on the validation set to ensure it's learning effectively.

# 10: Hyperparameter Tuning
Fine-tune the hyperparameters of your model to achieve better performance. This process may involve grid search, random search, or more advanced techniques like Bayesian optimization.

# 11: Model Evaluation
Evaluate the model's performance on the test set to assess its ability to generalize to new, unseen data. Common evaluation metrics depend on the type of task and may include accuracy, precision, recall, F1 score, mean squared error, etc.

# 11: Production
Once satisfied with the model's performance, deploy it to a production environment. This involves integrating the model into a system or application where it can make predictions on new data.