In [1]:
fruit = 'banana'
print(fruit)

banana

In [2]:
print(fruit[0:3])

ban

In [3]:
print(fruit[0], fruit[-1])

b a

In [4]:
length = len(fruit)
length

6

In [5]:
for i in fruit:
    print(i)

b
a
n
a
n
a

In [6]:
startIndex = length-1
endIndex= -1
step = -1
kela = []
for i in range(startIndex, endIndex, step):
    kela.append(fruit[i])
    print(fruit[i])
print(kela)

a
n
a
n
a
b
['a', 'n', 'a', 'n', 'a', 'b']

In [7]:
s = 'python is popular'
print(s[:7])

python

In [8]:
print(s[7:14])

is popu

In [9]:
print(fruit[:3])

ban

In [10]:
print(fruit[3:])

ana

In [11]:
# string are immutable
greeting = 'Welcome to Party'
greeting_len = len(greeting)

In [12]:
greeting_len

16

In [13]:
greeting = 'p' + greeting

In [14]:
greeting

'pWelcome to Party'

In [15]:
# word count
count = 0
for i in range(0,len(fruit), 1 ):
    if fruit[i] == 'a':
        count = count + 1
print(count)

3

### declare th string named as 'Word

In [16]:
word = input('enter the any words that you like to present.')
word = word.lower()
if word < 'banana':
    print('your word', word, ' comes before banana')
elif word> 'banana':
    print('your word', word, 'comes after banana')
else:
    print('All right, banana.')

your word 3  comes before banana

### List

In [17]:
c = [10, 20, 30, 40, 50, 10, 20, 40, 50,70]
g = ['ab', 'cd', 'eg', 'gh', 'ij', 'kl', 'mn', 'op', 'qr', 'st']
d= ['sita', 'ram', 'hanuman', 'basudeb', 'krishna', 'madhusudan']
print(type(c))

<class 'list'>

In [18]:
print(type(d))

<class 'list'>

In [19]:
min(c)

10

In [20]:
for i in range(0, len(d)):
   print(d[i].upper())

SITA
RAM
HANUMAN
BASUDEB
KRISHNA
MADHUSUDAN

In [21]:
g.pop(4)

'ij'

In [22]:
'ram' in d

True

In [23]:
d.append('ghanshyam')

In [24]:
sum = 0
for i in c:
    sum += i
print(sum)

340

In [25]:
Animals = 'Webra eats grass'
print(Animals)
print(Animals.replace('W', 'Z'))

Webra eats grass
Zebra eats grass

In [26]:
a = (3, 4, 5, 6)
print(a, type(a))

(3, 4, 5, 6) <class 'tuple'>

In [27]:
print(a[1])
b = (['s', 'b'])
print(b, type(b))

4
['s', 'b'] <class 'list'>

In [28]:
student_tuple = 'ghanshyam', 'MSc computer science', "Researcher", 1
print(student_tuple, type(student_tuple))

('ghanshyam', 'MSc computer science', 'Researcher', 1) <class 'tuple'>

In [29]:
tupleA = (1, 2, 3,)
for i in tupleA:
    print(i, ' ', i**2, ' ', i**3)

1   1   1
2   4   8
3   9   27

In [30]:
b = (5,4,2,7,8,9,1,3,7,6,0)
print(sorted(b))

[0, 1, 2, 3, 4, 5, 6, 7, 7, 8, 9]

In [31]:
e = a +b
print(e)

(3, 4, 5, 6, 5, 4, 2, 7, 8, 9, 1, 3, 7, 6, 0)

In [32]:
def Add_Tuple(arr):
    length = len(arr)
    sum = 0
    for i in range(0, length):
        sum = sum+ arr[i]
    return sum
print(Add_Tuple(e))

70

###Dictionary

In [33]:
dict = {"name": 'Ghanshyam', 'age': 28, 'hobbies': ['Coding', 'coding']}
print(dict)

{'name': 'Ghanshyam', 'age': 28, 'hobbies': ['Coding', 'coding']}

In [34]:
for key in dict:
    print(key)

name
age
hobbies

In [35]:
for data in dict.values():
    print(data)

Ghanshyam
28
['Coding', 'coding']

In [36]:
dict['hobbies']

['Coding', 'coding']

In [37]:
square = {1: "1", 3: "9", 5: "25", 7: "49", 9: "81"}
print(4 in square)

False

In [38]:
print(4 in square)

False

In [39]:
list(enumerate(g))

[(0, 'ab'),
 (1, 'cd'),
 (2, 'eg'),
 (3, 'gh'),
 (4, 'kl'),
 (5, 'mn'),
 (6, 'op'),
 (7, 'qr'),
 (8, 'st')]

In [40]:
print(square.items())

dict_items([(1, '1'), (3, '9'), (5, '25'), (7, '49'), (9, '81')])

In [41]:
def addition():
    try:
        number1 = int(input('enter first number:'))
        number2 = int(input('enter second number:'))
        result = number1 / number2
        print (result)
    except ZeroDivisionError:
        print ('Division by zero is forbidden in Maths')

addition()

1.0

In [42]:
a = [ [77, 68, 86, 73], [96, 87, 89, 81], [78, 90, 86, 81] ]
print(a)

[[77, 68, 86, 73], [96, 87, 89, 81], [78, 90, 86, 81]]

In [43]:
print(len(a[len(a) - 1]), len(a))

4 3

### object and classes

In [46]:
class MyClass:
    x = 5
print(MyClass, type(MyClass))

<class '__main__.MyClass'> <class 'type'>

In [56]:
class Person:
    def __init__(self, name,age):
        self.name= input('please enter your name')
        self.age = input('age')
p1 = Person('Ghanshyam', 28)
print(p1.name)

manisha

In [52]:
p2 = Person('Manisha', '26')

In [53]:
print(p2.name, p2.age)

Manisha 26

In [65]:
class Person2:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def displayfunc(self):
        print('Hello my name is', self.name, 'and age is ', self.age)
p3 = Person2('ghanshyam', 27)
p3.displayfunc()
p4 = Person2('manisha', 26)
p4.displayfunc()

Hello my name is ghanshyam and age is  27
Hello my name is manisha and age is  26