In [572]:
peopel = {'Name':['ram', 'shyam', 'ghan', 'manisha'], 'SurName':['singh', 'mahato', 'kushwaha', 'singh' ],'Email':['ram@gmail.com', 'shyam@gmail.com', 'ghan@gmail.com', 'Mh@gmail.com']}
#creating a list of data set
import pandas as pd
#importing pandas library
df = pd.DataFrame(peopel)
df
#printing the data

      Name   SurName            Email
0      ram     singh    ram@gmail.com
1    shyam    mahato  shyam@gmail.com
2     ghan  kushwaha   ghan@gmail.com
3  manisha     singh     Mh@gmail.com

In [573]:
df['Name']
#printing the column that have Name

0        ram
1      shyam
2       ghan
3    manisha
Name: Name, dtype: object

In [574]:
df['Email']
#printing the column that have Email

0      ram@gmail.com
1    shyam@gmail.com
2     ghan@gmail.com
3       Mh@gmail.com
Name: Email, dtype: object

In [575]:
df.Email
#printing the column that have Email

0      ram@gmail.com
1    shyam@gmail.com
2     ghan@gmail.com
3       Mh@gmail.com
Name: Email, dtype: object

In [576]:
df.Name
#printing the column that have Name

0        ram
1      shyam
2       ghan
3    manisha
Name: Name, dtype: object

In [577]:
df.SurName
#printing the column that have SurName

0       singh
1      mahato
2    kushwaha
3       singh
Name: SurName, dtype: object

In [578]:
df[['Name', 'Email']]
#printing the column that have Name & Email

      Name            Email
0      ram    ram@gmail.com
1    shyam  shyam@gmail.com
2     ghan   ghan@gmail.com
3  manisha     Mh@gmail.com

In [579]:
df.columns
#printing the columns that are present in the dataframe

Index(['Name', 'SurName', 'Email'], dtype='object')

In [580]:
df.iloc[0]
# using iloc & loc method to find locations of the specific rows and columns

Name                 ram
SurName            singh
Email      ram@gmail.com
Name: 0, dtype: object

In [581]:
df.iloc[[0, 1]]
#Printing the data in the rows 0 and 1

    Name SurName            Email
0    ram   singh    ram@gmail.com
1  shyam  mahato  shyam@gmail.com

In [582]:
df.iloc[[0, 1], 2]
#Printing the data in the rows 0 and 1 in colun 2

0      ram@gmail.com
1    shyam@gmail.com
Name: Email, dtype: object

In [583]:
df.loc[0]

Name                 ram
SurName            singh
Email      ram@gmail.com
Name: 0, dtype: object

In [584]:
df.loc[[1,2], ['Email','SurName']]
# This returns the data at row 1 and 2 from column Email and SurName and also it is giving the email's data first but it is in last column of data Frame

             Email   SurName
1  shyam@gmail.com    mahato
2   ghan@gmail.com  kushwaha

In [585]:
#set the index from the columns of the dataFarame
# here we'll take email as index because email is different for everyone
df.set_index('Email')

                    Name   SurName
Email
ram@gmail.com        ram     singh
shyam@gmail.com    shyam    mahato
ghan@gmail.com      ghan  kushwaha
Mh@gmail.com     manisha     singh

In [586]:
df
#so here dataframe is showing defualt index this is because we didnot set the inplace

      Name   SurName            Email
0      ram     singh    ram@gmail.com
1    shyam    mahato  shyam@gmail.com
2     ghan  kushwaha   ghan@gmail.com
3  manisha     singh     Mh@gmail.com

In [587]:
df.set_index('Email', inplace=True)
df

                    Name   SurName
Email
ram@gmail.com        ram     singh
shyam@gmail.com    shyam    mahato
ghan@gmail.com      ghan  kushwaha
Mh@gmail.com     manisha     singh

In [588]:
df.index

Index(['ram@gmail.com', 'shyam@gmail.com', 'ghan@gmail.com', 'Mh@gmail.com'], dtype='object', name='Email')

In [589]:
df.loc['ghan@gmail.com']

Name           ghan
SurName    kushwaha
Name: ghan@gmail.com, dtype: object

In [590]:
df.loc['ghan@gmail.com', 'SurName']

'kushwaha'

In [591]:
# here our index is email but if we use iloc it will still give data from specific index
df.iloc[0]

Name         ram
SurName    singh
Name: ram@gmail.com, dtype: object

In [592]:
# also we can resect the index
df.reset_index(inplace= True)
df

             Email     Name   SurName
0    ram@gmail.com      ram     singh
1  shyam@gmail.com    shyam    mahato
2   ghan@gmail.com     ghan  kushwaha
3     Mh@gmail.com  manisha     singh

In [593]:
filt = (df['SurName'] == 'singh')
filt

0     True
1    False
2    False
3     True
Name: SurName, dtype: bool

In [594]:
df[filt]

           Email     Name SurName
0  ram@gmail.com      ram   singh
3   Mh@gmail.com  manisha   singh

In [595]:
#also we can do same thing with loc
df.loc[filt, 'Email']

0    ram@gmail.com
3     Mh@gmail.com
Name: Email, dtype: object

In [596]:
filt1 = (df['SurName'] == 'singh') & (df['Name'] == 'manisha')

In [597]:
df[filt1]

          Email     Name SurName
3  Mh@gmail.com  manisha   singh

In [598]:
filt2 = (df['SurName'] == 'kushwana') | (df['Name'] == 'manisha')
df.loc[-filt2, 'Email']

0      ram@gmail.com
1    shyam@gmail.com
2     ghan@gmail.com
Name: Email, dtype: object

In [599]:
df

             Email     Name   SurName
0    ram@gmail.com      ram     singh
1  shyam@gmail.com    shyam    mahato
2   ghan@gmail.com     ghan  kushwaha
3     Mh@gmail.com  manisha     singh

In [600]:
df.columns = [ 'First_Name', 'Last_Name', 'Email']
df

        First_Name Last_Name     Email
0    ram@gmail.com       ram     singh
1  shyam@gmail.com     shyam    mahato
2   ghan@gmail.com      ghan  kushwaha
3     Mh@gmail.com   manisha     singh

In [601]:
df.columns = [x.upper() for x in df.columns]

In [602]:
df

        FIRST_NAME LAST_NAME     EMAIL
0    ram@gmail.com       ram     singh
1  shyam@gmail.com     shyam    mahato
2   ghan@gmail.com      ghan  kushwaha
3     Mh@gmail.com   manisha     singh

In [603]:
df.columns = df.columns.str.replace('_', ' ')

In [604]:
df

        FIRST NAME LAST NAME     EMAIL
0    ram@gmail.com       ram     singh
1  shyam@gmail.com     shyam    mahato
2   ghan@gmail.com      ghan  kushwaha
3     Mh@gmail.com   manisha     singh

In [605]:
df.columns = [x.lower() for x in df.columns]

In [606]:
df.columns = df.columns.str.replace(' ', '_')

In [607]:
df

        first_name last_name     email
0    ram@gmail.com       ram     singh
1  shyam@gmail.com     shyam    mahato
2   ghan@gmail.com      ghan  kushwaha
3     Mh@gmail.com   manisha     singh

In [608]:
df.rename(columns={'first_name': 'email', 'last_name': 'first', 'email': 'last'}, inplace= True)

In [609]:
df

             email    first      last
0    ram@gmail.com      ram     singh
1  shyam@gmail.com    shyam    mahato
2   ghan@gmail.com     ghan  kushwaha
3     Mh@gmail.com  manisha     singh

In [610]:
df.loc[2] = ['ghanshyam@gmail.com', 'ghanshyam', 'kushwaha']
df.loc[2, ['first', 'email']] = [ 'radhey', 'radhey@gmail.com']

In [611]:
df.loc[3, 'email'] = 'manisha420@gmail.com'

In [612]:
filt3 = (df['email']=='manisha420@gmail.com')
df[filt3]['last'] = 'mehta'

/var/folders/sk/qnqfmc1n43xcb8gqr40z974c0000gn/T/ipykernel_28360/4270225781.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[filt3]['last'] = 'mehta'

In [613]:
filt3 = (df['email']=='manisha420@gmail.com')
df.loc[filt3,'last'] = 'mehta'

In [614]:
df['email'] = df['email'].str.lower()

In [615]:
df

                  email    first      last
0         ram@gmail.com      ram     singh
1       shyam@gmail.com    shyam    mahato
2      radhey@gmail.com   radhey  kushwaha
3  manisha420@gmail.com  manisha     mehta

In [616]:
#we are going to apply four method
# apply
# map
# applymap
# replace

In [617]:
# first well work on apply
def update_email(email):
    return email.upper()

In [618]:
df['email'] = df['email'].apply(update_email)

In [619]:
df

                  email    first      last
0         RAM@GMAIL.COM      ram     singh
1       SHYAM@GMAIL.COM    shyam    mahato
2      RADHEY@GMAIL.COM   radhey  kushwaha
3  MANISHA420@GMAIL.COM  manisha     mehta

In [620]:
#lambda function
df['email'] = df['email'].apply(lambda x : x.lower())

In [621]:
df

                  email    first      last
0         ram@gmail.com      ram     singh
1       shyam@gmail.com    shyam    mahato
2      radhey@gmail.com   radhey  kushwaha
3  manisha420@gmail.com  manisha     mehta

In [622]:
df['email'].apply(len)

0    13
1    15
2    16
3    20
Name: email, dtype: int64

In [623]:
df.apply(len)

email    4
first    4
last     4
dtype: int64

In [624]:
len(df['email'])

4

In [625]:
df.apply(len, axis='columns')

0    3
1    3
2    3
3    3
dtype: int64

In [626]:
df.apply(pd.Series.min)

email    manisha420@gmail.com
first                 manisha
last                 kushwaha
dtype: object

In [627]:
df.apply(lambda x: x.min())

email    manisha420@gmail.com
first                 manisha
last                 kushwaha
dtype: object

In [628]:
df.applymap(len)

   email  first  last
0     13      3     5
1     15      5     6
2     16      6     8
3     20      7     5

In [629]:
df.applymap(str.lower)

                  email    first      last
0         ram@gmail.com      ram     singh
1       shyam@gmail.com    shyam    mahato
2      radhey@gmail.com   radhey  kushwaha
3  manisha420@gmail.com  manisha     mehta

In [630]:
df['first'].map({'ram': 'ram ram', 'radhey': 'radhey radhey'})

0          ram ram
1              NaN
2    radhey radhey
3              NaN
Name: first, dtype: object

In [631]:
df['first'] = df['first'].replace({'ram': 'ram ram', 'radhey': 'radhey radhey'})

In [632]:
df

                  email          first      last
0         ram@gmail.com        ram ram     singh
1       shyam@gmail.com          shyam    mahato
2      radhey@gmail.com  radhey radhey  kushwaha
3  manisha420@gmail.com        manisha     mehta

In [633]:

df['full_name'] = df['first'] + ' ' + df['last']

In [634]:
df

                  email          first      last               full_name
0         ram@gmail.com        ram ram     singh           ram ram singh
1       shyam@gmail.com          shyam    mahato            shyam mahato
2      radhey@gmail.com  radhey radhey  kushwaha  radhey radhey kushwaha
3  manisha420@gmail.com        manisha     mehta           manisha mehta

In [635]:
df.drop(columns=['first', 'last'], inplace= True)

In [636]:
df

                  email               full_name
0         ram@gmail.com           ram ram singh
1       shyam@gmail.com            shyam mahato
2      radhey@gmail.com  radhey radhey kushwaha
3  manisha420@gmail.com           manisha mehta

In [637]:
df[['first', 'last', 'middle' ]] = df['full_name'].str.split(' ', expand=True)

In [638]:
df

                  email               full_name    first    last    middle
0         ram@gmail.com           ram ram singh      ram     ram     singh
1       shyam@gmail.com            shyam mahato    shyam  mahato      None
2      radhey@gmail.com  radhey radhey kushwaha   radhey  radhey  kushwaha
3  manisha420@gmail.com           manisha mehta  manisha   mehta      None

In [639]:
# append is used to add single row of data where data can be added in a row

df.append({'first': 'ghanshyam'}, ignore_index= True)

/var/folders/sk/qnqfmc1n43xcb8gqr40z974c0000gn/T/ipykernel_28360/3843893667.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df.append({'first': 'ghanshyam'}, ignore_index= True)

                  email               full_name      first    last    middle
0         ram@gmail.com           ram ram singh        ram     ram     singh
1       shyam@gmail.com            shyam mahato      shyam  mahato      None
2      radhey@gmail.com  radhey radhey kushwaha     radhey  radhey  kushwaha
3  manisha420@gmail.com           manisha mehta    manisha   mehta      None
4                   NaN                     NaN  ghanshyam     NaN       NaN

In [640]:
peopels = {
    'first':['aadarsh', 'anjesh', 'thomas', 'amit'],
    'last':['kushwaha', 'sahani', 'sowarnakar', 'patel' ],
    'email':['aadarsh@gmail.com', 'anjesh@gmail.com', 'thomas@gmail.com', 'amit@gmail.com']}
df2 = pd.DataFrame(peopels)

In [641]:
df2

     first        last              email
0  aadarsh    kushwaha  aadarsh@gmail.com
1   anjesh      sahani   anjesh@gmail.com
2   thomas  sowarnakar   thomas@gmail.com
3     amit       patel     amit@gmail.com

In [642]:
df = df.append(df2, ignore_index= True, sort= False)

/var/folders/sk/qnqfmc1n43xcb8gqr40z974c0000gn/T/ipykernel_28360/3041214103.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df2, ignore_index= True, sort= False)

In [643]:
df.drop(index= 4, inplace= True)

In [644]:
df

                  email               full_name    first        last    middle
0         ram@gmail.com           ram ram singh      ram         ram     singh
1       shyam@gmail.com            shyam mahato    shyam      mahato      None
2      radhey@gmail.com  radhey radhey kushwaha   radhey      radhey  kushwaha
3  manisha420@gmail.com           manisha mehta  manisha       mehta      None
5      anjesh@gmail.com                     NaN   anjesh      sahani       NaN
6      thomas@gmail.com                     NaN   thomas  sowarnakar       NaN
7        amit@gmail.com                     NaN     amit       patel       NaN

In [652]:
filt4 = df['last'] == 'radhey'
df.drop(index= df[filt4].index )

                  email      full_name    first        last middle
0         ram@gmail.com  ram ram singh      ram         ram  singh
1       shyam@gmail.com   shyam mahato    shyam      mahato   None
3  manisha420@gmail.com  manisha mehta  manisha       mehta   None
5      anjesh@gmail.com            NaN   anjesh      sahani    NaN
6      thomas@gmail.com            NaN   thomas  sowarnakar    NaN
7        amit@gmail.com            NaN     amit       patel    NaN

In [654]:
df.sort_values(by='first', ascending= False)

                  email               full_name    first        last    middle
6      thomas@gmail.com                     NaN   thomas  sowarnakar       NaN
1       shyam@gmail.com            shyam mahato    shyam      mahato      None
0         ram@gmail.com           ram ram singh      ram         ram     singh
2      radhey@gmail.com  radhey radhey kushwaha   radhey      radhey  kushwaha
3  manisha420@gmail.com           manisha mehta  manisha       mehta      None
5      anjesh@gmail.com                     NaN   anjesh      sahani       NaN
7        amit@gmail.com                     NaN     amit       patel       NaN

In [656]:
df.sort_values(by= ['first', 'last'], ascending= True)

                  email               full_name    first        last    middle
7        amit@gmail.com                     NaN     amit       patel       NaN
5      anjesh@gmail.com                     NaN   anjesh      sahani       NaN
3  manisha420@gmail.com           manisha mehta  manisha       mehta      None
2      radhey@gmail.com  radhey radhey kushwaha   radhey      radhey  kushwaha
0         ram@gmail.com           ram ram singh      ram         ram     singh
1       shyam@gmail.com            shyam mahato    shyam      mahato      None
6      thomas@gmail.com                     NaN   thomas  sowarnakar       NaN