In [57]:
peopel = {'Name':['ram', 'shyam', 'ghan', 'manisha'], 'SurName':['singh', 'mahato', 'kushwaha', 'singh' ],'Email':['ram@gmail.com', 'shyam@gmail.com', 'ghan@gmail.com', 'manisha@gmail.com']}
#creating a list of data set
import pandas as pd
#importing pandas library
df = pd.DataFrame(peopel)
df
#printing the data

      Name   SurName              Email
0      ram     singh      ram@gmail.com
1    shyam    mahato    shyam@gmail.com
2     ghan  kushwaha     ghan@gmail.com
3  manisha     singh  manisha@gmail.com

In [58]:
df['Name']
#printing the column that have Name

0        ram
1      shyam
2       ghan
3    manisha
Name: Name, dtype: object

In [59]:
df['Email']
#printing the column that have Email

0        ram@gmail.com
1      shyam@gmail.com
2       ghan@gmail.com
3    manisha@gmail.com
Name: Email, dtype: object

In [60]:
df.Email
#printing the column that have Email

0        ram@gmail.com
1      shyam@gmail.com
2       ghan@gmail.com
3    manisha@gmail.com
Name: Email, dtype: object

In [61]:
df.Name
#printing the column that have Name

0        ram
1      shyam
2       ghan
3    manisha
Name: Name, dtype: object

In [62]:
df.SurName
#printing the column that have SurName

0       singh
1      mahato
2    kushwaha
3       singh
Name: SurName, dtype: object

In [63]:
df[['Name', 'Email']]
#printing the column that have Name & Email

      Name              Email
0      ram      ram@gmail.com
1    shyam    shyam@gmail.com
2     ghan     ghan@gmail.com
3  manisha  manisha@gmail.com

In [64]:
df.columns
#printing the columns that are present in the dataframe

Index(['Name', 'SurName', 'Email'], dtype='object')

In [65]:
df.iloc[0]
# using iloc & loc method to find locations of the specific rows and columns

Name                 ram
SurName            singh
Email      ram@gmail.com
Name: 0, dtype: object

In [66]:
df.iloc[[0, 1]]
#Printing the data in the rows 0 and 1

    Name SurName            Email
0    ram   singh    ram@gmail.com
1  shyam  mahato  shyam@gmail.com

In [67]:
df.iloc[[0, 1], 2]
#Printing the data in the rows 0 and 1 in colun 2

0      ram@gmail.com
1    shyam@gmail.com
Name: Email, dtype: object

In [68]:
df.loc[0]

Name                 ram
SurName            singh
Email      ram@gmail.com
Name: 0, dtype: object

In [69]:
df.loc[[1,2], ['Email','SurName']]
# This returns the data at row 1 and 2 from column Email and SurName and also it is giving the email's data first but it is in last column of data Frame

             Email   SurName
1  shyam@gmail.com    mahato
2   ghan@gmail.com  kushwaha

In [70]:
#set the index from the columns of the dataFarame
# here we'll take email as index because email is different for everyone
df.set_index('Email')

                      Name   SurName
Email
ram@gmail.com          ram     singh
shyam@gmail.com      shyam    mahato
ghan@gmail.com        ghan  kushwaha
manisha@gmail.com  manisha     singh

In [71]:
df
#so here dataframe is showing defualt index this is because we didnot set the inplace

      Name   SurName              Email
0      ram     singh      ram@gmail.com
1    shyam    mahato    shyam@gmail.com
2     ghan  kushwaha     ghan@gmail.com
3  manisha     singh  manisha@gmail.com

In [72]:
df.set_index('Email', inplace=True)
df

                      Name   SurName
Email
ram@gmail.com          ram     singh
shyam@gmail.com      shyam    mahato
ghan@gmail.com        ghan  kushwaha
manisha@gmail.com  manisha     singh

In [73]:
df.index

Index(['ram@gmail.com', 'shyam@gmail.com', 'ghan@gmail.com',
       'manisha@gmail.com'],
      dtype='object', name='Email')

In [74]:
df.loc['ghan@gmail.com']

Name           ghan
SurName    kushwaha
Name: ghan@gmail.com, dtype: object

In [75]:
df.loc['ghan@gmail.com', 'SurName']

'kushwaha'

In [76]:
# here our index is email but if we use iloc it will still give data from specific index
df.iloc[0]

Name         ram
SurName    singh
Name: ram@gmail.com, dtype: object

In [77]:
# also we can resect the index
df.reset_index(inplace= True)
df

               Email     Name   SurName
0      ram@gmail.com      ram     singh
1    shyam@gmail.com    shyam    mahato
2     ghan@gmail.com     ghan  kushwaha
3  manisha@gmail.com  manisha     singh

In [81]:
filt = (df['SurName'] == 'singh')
filt

0     True
1    False
2    False
3     True
Name: SurName, dtype: bool

In [80]:
df[filt]

               Email     Name SurName
0      ram@gmail.com      ram   singh
3  manisha@gmail.com  manisha   singh

In [85]:
#also we can do same thing with loc
df.loc[filt, 'Email']

0        ram@gmail.com
3    manisha@gmail.com
Name: Email, dtype: object

In [86]:
filt1 = (df['SurName'] == 'singh') & (df['Name'] == 'manisha')

In [87]:
df[filt1]

               Email     Name SurName
3  manisha@gmail.com  manisha   singh

In [90]:
filt2 = (df['SurName'] == 'kushwana') | (df['Name'] == 'manisha')
df.loc[-filt2, 'Email']

0      ram@gmail.com
1    shyam@gmail.com
2     ghan@gmail.com
Name: Email, dtype: object

In [91]:
df.columns = [ 'First_Name', 'Last_Name', 'Email']
df

          First_Name Last_Name     Email
0      ram@gmail.com       ram     singh
1    shyam@gmail.com     shyam    mahato
2     ghan@gmail.com      ghan  kushwaha
3  manisha@gmail.com   manisha     singh

In [92]:
df.columns = [x.upper() for x in df.columns]

In [93]:
df

          FIRST_NAME LAST_NAME     EMAIL
0      ram@gmail.com       ram     singh
1    shyam@gmail.com     shyam    mahato
2     ghan@gmail.com      ghan  kushwaha
3  manisha@gmail.com   manisha     singh