In [281]:
peopel = {'Name':['ram', 'shyam', 'ghan', 'manisha'], 'SurName':['singh', 'mahato', 'kushwaha', 'singh' ],'Email':['ram@gmail.com', 'shyam@gmail.com', 'ghan@gmail.com', 'Manisha@gmail.com']}
#creating a list of data set
import pandas as pd
#importing pandas library
df = pd.DataFrame(peopel)
df
#printing the data

      Name   SurName              Email
0      ram     singh      ram@gmail.com
1    shyam    mahato    shyam@gmail.com
2     ghan  kushwaha     ghan@gmail.com
3  manisha     singh  Manisha@gmail.com

In [282]:
df['Name']
#printing the column that have Name

0        ram
1      shyam
2       ghan
3    manisha
Name: Name, dtype: object

In [283]:
df['Email']
#printing the column that have Email

0        ram@gmail.com
1      shyam@gmail.com
2       ghan@gmail.com
3    Manisha@gmail.com
Name: Email, dtype: object

In [284]:
df.Email
#printing the column that have Email

0        ram@gmail.com
1      shyam@gmail.com
2       ghan@gmail.com
3    Manisha@gmail.com
Name: Email, dtype: object

In [285]:
df.Name
#printing the column that have Name

0        ram
1      shyam
2       ghan
3    manisha
Name: Name, dtype: object

In [286]:
df.SurName
#printing the column that have SurName

0       singh
1      mahato
2    kushwaha
3       singh
Name: SurName, dtype: object

In [287]:
df[['Name', 'Email']]
#printing the column that have Name & Email

      Name              Email
0      ram      ram@gmail.com
1    shyam    shyam@gmail.com
2     ghan     ghan@gmail.com
3  manisha  Manisha@gmail.com

In [288]:
df.columns
#printing the columns that are present in the dataframe

Index(['Name', 'SurName', 'Email'], dtype='object')

In [289]:
df.iloc[0]
# using iloc & loc method to find locations of the specific rows and columns

Name                 ram
SurName            singh
Email      ram@gmail.com
Name: 0, dtype: object

In [290]:
df.iloc[[0, 1]]
#Printing the data in the rows 0 and 1

    Name SurName            Email
0    ram   singh    ram@gmail.com
1  shyam  mahato  shyam@gmail.com

In [291]:
df.iloc[[0, 1], 2]
#Printing the data in the rows 0 and 1 in colun 2

0      ram@gmail.com
1    shyam@gmail.com
Name: Email, dtype: object

In [292]:
df.loc[0]

Name                 ram
SurName            singh
Email      ram@gmail.com
Name: 0, dtype: object

In [293]:
df.loc[[1,2], ['Email','SurName']]
# This returns the data at row 1 and 2 from column Email and SurName and also it is giving the email's data first but it is in last column of data Frame

             Email   SurName
1  shyam@gmail.com    mahato
2   ghan@gmail.com  kushwaha

In [294]:
#set the index from the columns of the dataFarame
# here we'll take email as index because email is different for everyone
df.set_index('Email')

                      Name   SurName
Email
ram@gmail.com          ram     singh
shyam@gmail.com      shyam    mahato
ghan@gmail.com        ghan  kushwaha
Manisha@gmail.com  manisha     singh

In [295]:
df
#so here dataframe is showing defualt index this is because we didnot set the inplace

      Name   SurName              Email
0      ram     singh      ram@gmail.com
1    shyam    mahato    shyam@gmail.com
2     ghan  kushwaha     ghan@gmail.com
3  manisha     singh  Manisha@gmail.com

In [296]:
df.set_index('Email', inplace=True)
df

                      Name   SurName
Email
ram@gmail.com          ram     singh
shyam@gmail.com      shyam    mahato
ghan@gmail.com        ghan  kushwaha
Manisha@gmail.com  manisha     singh

In [297]:
df.index

Index(['ram@gmail.com', 'shyam@gmail.com', 'ghan@gmail.com',
       'Manisha@gmail.com'],
      dtype='object', name='Email')

In [298]:
df.loc['ghan@gmail.com']

Name           ghan
SurName    kushwaha
Name: ghan@gmail.com, dtype: object

In [299]:
df.loc['ghan@gmail.com', 'SurName']

'kushwaha'

In [300]:
# here our index is email but if we use iloc it will still give data from specific index
df.iloc[0]

Name         ram
SurName    singh
Name: ram@gmail.com, dtype: object

In [301]:
# also we can resect the index
df.reset_index(inplace= True)
df

               Email     Name   SurName
0      ram@gmail.com      ram     singh
1    shyam@gmail.com    shyam    mahato
2     ghan@gmail.com     ghan  kushwaha
3  Manisha@gmail.com  manisha     singh

In [302]:
filt = (df['SurName'] == 'singh')
filt

0     True
1    False
2    False
3     True
Name: SurName, dtype: bool

In [303]:
df[filt]

               Email     Name SurName
0      ram@gmail.com      ram   singh
3  Manisha@gmail.com  manisha   singh

In [304]:
#also we can do same thing with loc
df.loc[filt, 'Email']

0        ram@gmail.com
3    Manisha@gmail.com
Name: Email, dtype: object

In [305]:
filt1 = (df['SurName'] == 'singh') & (df['Name'] == 'manisha')

In [306]:
df[filt1]

               Email     Name SurName
3  Manisha@gmail.com  manisha   singh

In [307]:
filt2 = (df['SurName'] == 'kushwana') | (df['Name'] == 'manisha')
df.loc[-filt2, 'Email']

0      ram@gmail.com
1    shyam@gmail.com
2     ghan@gmail.com
Name: Email, dtype: object

In [308]:
df

               Email     Name   SurName
0      ram@gmail.com      ram     singh
1    shyam@gmail.com    shyam    mahato
2     ghan@gmail.com     ghan  kushwaha
3  Manisha@gmail.com  manisha     singh

In [309]:
df.columns = [ 'First_Name', 'Last_Name', 'Email']
df

          First_Name Last_Name     Email
0      ram@gmail.com       ram     singh
1    shyam@gmail.com     shyam    mahato
2     ghan@gmail.com      ghan  kushwaha
3  Manisha@gmail.com   manisha     singh

In [310]:
df.columns = [x.upper() for x in df.columns]

In [311]:
df

          FIRST_NAME LAST_NAME     EMAIL
0      ram@gmail.com       ram     singh
1    shyam@gmail.com     shyam    mahato
2     ghan@gmail.com      ghan  kushwaha
3  Manisha@gmail.com   manisha     singh

In [312]:
df.columns = df.columns.str.replace('_', ' ')

In [313]:
df

          FIRST NAME LAST NAME     EMAIL
0      ram@gmail.com       ram     singh
1    shyam@gmail.com     shyam    mahato
2     ghan@gmail.com      ghan  kushwaha
3  Manisha@gmail.com   manisha     singh

In [314]:
df.columns = [x.lower() for x in df.columns]

In [315]:
df.columns = df.columns.str.replace(' ', '_')

In [316]:
df

          first_name last_name     email
0      ram@gmail.com       ram     singh
1    shyam@gmail.com     shyam    mahato
2     ghan@gmail.com      ghan  kushwaha
3  Manisha@gmail.com   manisha     singh

In [317]:
df.rename(columns={'first_name': 'email', 'last_name': 'first', 'email': 'last'}, inplace= True)

In [318]:
df

               email    first      last
0      ram@gmail.com      ram     singh
1    shyam@gmail.com    shyam    mahato
2     ghan@gmail.com     ghan  kushwaha
3  Manisha@gmail.com  manisha     singh

In [319]:
df.loc[2] = ['ghanshyam@gmail.com', 'ghanshyam', 'kushwaha']
df.loc[2, ['first', 'email']] = [ 'radhey', 'radhey@gmail.com']

In [320]:
df.loc[3, 'email'] = 'manisha420@gmail.com'

In [321]:
filt3 = (df['email']=='manisha420@gmail.com')
df[filt3]['last'] = 'mehta'

/var/folders/sk/qnqfmc1n43xcb8gqr40z974c0000gn/T/ipykernel_28360/4270225781.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[filt3]['last'] = 'mehta'

In [322]:
filt3 = (df['email']=='manisha420@gmail.com')
df.loc[filt3,'last'] = 'mehta'

In [323]:
df['email'] = df['email'].str.lower()

In [324]:
df

                  email    first      last
0         ram@gmail.com      ram     singh
1       shyam@gmail.com    shyam    mahato
2      radhey@gmail.com   radhey  kushwaha
3  manisha420@gmail.com  manisha     mehta

In [325]:
#we are going to apply four method
# apply
# map
# applymap
# replace

In [326]:
# first well work on apply
def update_email(email):
    return email.upper()

In [329]:
df['email'] = df['email'].apply(update_email)

In [330]:
df

                  email    first      last
0         RAM@GMAIL.COM      ram     singh
1       SHYAM@GMAIL.COM    shyam    mahato
2      RADHEY@GMAIL.COM   radhey  kushwaha
3  MANISHA420@GMAIL.COM  manisha     mehta

In [331]:
#lambda function
df['email'] = df['email'].apply(lambda x : x.lower())

In [332]:
df

                  email    first      last
0         ram@gmail.com      ram     singh
1       shyam@gmail.com    shyam    mahato
2      radhey@gmail.com   radhey  kushwaha
3  manisha420@gmail.com  manisha     mehta

In [333]:
df['email'].apply(len)

0    13
1    15
2    16
3    20
Name: email, dtype: int64

In [334]:
df.apply(len)

email    4
first    4
last     4
dtype: int64

In [335]:
len(df['email'])

4

In [338]:
df.apply(len, axis='columns')

0    3
1    3
2    3
3    3
dtype: int64